@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
.container{
  background-color: goldenrod;
  border: black;
  border-radius: 20px;
  margin: 100px auto;
  position: relative;
  font-family: 'Ultra', serif;
  color: red;
 
}

.App {
  text-align: center;
  font-family: 'Ultra', serif;
  color: red;
}

.col-3 {
  color: black;
}

.form-control {
  align-content: center;
}
